<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:image" content="https://health.chosun.com/site/data/img_dir/2022/07/11/2022071101596_0.jpg"/>
    <meta property="og:description" content="랜덤 픽"/>
    <meta property="og:title" content="뭐 먹지?"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <title>오늘은 뭐 먹지?</title>

    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap"
          rel="stylesheet">
    <style>
        * {
            font-family: 'Noto Serif KR', serif;
        }

        .header {
            width: 100%;
            height: 300px;

            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://health.chosun.com/site/data/img_dir/2022/07/11/2022071101596_0.jpg');
            background-position: center 30%;
            background-size: cover;

            color: white;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .update {
            width: 95%;
            max-width: 500px;
            margin: 20px auto 20px auto;

            box-shadow: 0px 0px 3px 0px black;
            padding: 20px;
        }

        .mypost > button {
            margin-top: 10px;
        }

        .mycards {
            width: 95%;
            max-width: 500px;
            margin: auto;
        }

        .place_img {

        }


    </style>
    <script>
        $(document).ready(function () {
            get_food_category();
            show_place();
        });

        function show_place() {

            let user_num = sessionStorage.getItem('user_num')
            $.ajax({
                type: 'GET',
                url: '/api/my_place',
                data: {user_num: user_num},
                success: function (response) {
                    let rows = response['place_list'];

                    for (let i = 0; i < rows.length; i++) {
                        let row = rows[i]
                        let temp_html = `<tr>
                                                <td>${row.title}</td>
                                                <td>${row.content}</td>
                                                <td><img style="width: 100px" src="${row.img}"/></td>
                                                <td>
                                                    <button button type="button" class="btn btn-danger" onclick="remove_myplace(${row.num})">삭제</button>
                                                </td>
                                            </tr>`

                        $("#place_list").append(temp_html);
                    }
                }
            });
        }

        function remove_myplace(num) {
            var result = confirm("정말로 삭제합니까?");

            if (result) {
                $.ajax({
                    type: 'DELETE',
                    url: '/api/my_place',
                    data: {num: num},
                    success: function (response) {
                        if (response === "ok") {
                            alert("삭제가 완료 되었습니다.");
                            location.reload();
                        } else {
                            alert("삭제 도중 오류가 발생하였습니다");
                            location.reload();
                        }
                    }
                });
            }
        }

        function get_food_category() {
            $.ajax({
                type: 'GET',
                url: '/api/category',
                data: {},
                success: function (response) {

                    let rows = response['category_List'];

                    for (let i = 0; i < rows.length; i++) {
                        let category = rows[i]
                        $("#suggest-food-category").append(`<option value="${category.num}">${category.name}</option>`);
                    }
                }
            });
        }

        function make_place() {

            let content = $('#place_content').val()
            let title = $('#place_title').val()
            let img = $('#place_img_link').val()

            let category_num = $('#suggest-food-category').val()

            let user_num = sessionStorage.getItem('user_num')

            $.ajax({
                type: 'POST',
                url: '/api/my_place',
                data: {content: content, title: title, img: img, category_num: category_num, user_num: user_num},
                success: function (response) {
                    if (response === "ok") {
                        alert("등록 되었습니다.");
                        location.reload();
                    } else {
                        alert("등록 도중 오류가 발생하였습니다");
                    }
                }
            });
        }

    </script>
</head>
<body>

<header>{% include 'header.html' %}</header>

<div class="update">


    <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="place_title"></textarea>
        <label for="place_title">맛집이름은 뭐지?</label>
    </div>

    </p>

    <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="place_content"
                          style="height: 100px"></textarea>
        <label for="place_content">뭐가 제일 맛있어?</label>
    </div>

    </p>

    <p id="category">어떤 종류인데?
    <div class="input-group mb-3">
        <label class="input-group-text" for="suggest-food-category">종류</label>
        <select class="form-select" id="suggest-food-category">
            <option value='0' selected>-- 선택하기 --</option>
        </select>
    </div>

    </p>

    <label for="place_img_link" class="form-label">맛집 사진 링크!!</label>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon3">url</span>
        <input type="text" class="form-control" id="place_img_link" aria-describedby="basic-addon3">
    </div>

    </p>

    <button onclick="make_place()" type="button" class="btn btn-dark">등록하기</button>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">맛집명</th>
            <th scope="col">종류</th>
            <th scope="col">링크</th>
        </tr>
        </thead>

        <tbody id="place_list">

        </tbody>
    </table>
</div>
</body>
</html>